/target
/in/*
/out/data/*
/out/datapack/minecraft/*
/out/datapack/mapmaker/functions/init.mcfunction
/out/datapack/mapmaker/functions/restart.mcfunction
/out/datapack/mapmaker/functions/loop.mcfunction
/.idea